<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles/main.css">
</head>
<body>
    <%- include("./partials/header.ejs") %>
    <p class="title-text">Multiple Stock Exchange Data</p>
    <div class="flexBox">
        <% data.forEach(stockData => { %>
            <div class="container style">
                <h1> <%= stockData.date %> </h1> <br>
                <p class="exchange-name"><%= stockData.stock %></p> <br>
                <p class="p">Current Price:- <%= stockData.price %></p> <br>
                <!-- <%= stockData.extracted_price %> <br> -->
                <p class="p">Currency of Stock:- <%= stockData.currency %></p> <br>
                <p style="font-style: italic; color: #572d18; font-weight: bold; margin: 0px;">Last Position:- <%= stockData.price_movement.percentage %>  <%= stockData.price_movement.movement %></p> <br>
                <a href="<%= stockData.link %>"><button class="mainButton">See More Details</button></a>
            </div>
        <% }); %>
    </div>
    <!-- Footer -->
     
    <footer>
        <%- include("./partials/footer.ejs") %>
    </footer>
</body>
</html>